<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywei.springcloud.payment.dao.PaymentDao">
    <insert id="payForOrder" parameterType="com.xywei.domain.payment.Payment" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO
            t_payment(order_id, total_price)
        values
            (#{orderId}, #{totalPrice})
    </insert>
</mapper>